<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c301t19.cs.ualberta.seekaride" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/seek"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <receiver
            android:name=".core.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".activities.PollingService" ></service>
        <receiver android:name=".activities.PollServerBroadcastReceiver" ></receiver>
        <activity
            android:name=".activities.LoginActivity"
            android:label="SeekARide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RiderActivity"
            android:label="Rider"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activities.DriverActivity"
            android:launchMode="singleTask"
            android:label="Driver"/>
        <activity
            android:name=".activities.AddRequestActivity"
            android:launchMode="singleTask"
            android:label="Add Request"/>
        <activity
            android:name=".activities.SearchRequestsActivity"
            android:launchMode="singleTask"
            android:label="Look for Requests"/>
        <activity
            android:name=".activities.NewAccountActivity"
            android:label="New Account" />
        <activity
            android:name=".activities.ViewProfileActivity"
            android:label="View Profile" />
        <activity
            android:name=".activities.EditAccountActivity"
            android:label="My Profile" />
        <activity
            android:name=".activities.EditRequestActivity" android:launchMode="singleTask"
            android:label="Edit Request" />
        <activity
            android:name=".AcceptRiderActivity"
            android:label="@string/title_activity_accept_rider" />
        <activity
            android:name=".deprecated.AcceptDriverActivity"
            android:label="@string/title_activity_accept_driver" />
        <activity
            android:name=".activities.SearchResultsActivity"
            android:label="Search Results" />
        <activity
            android:name=".activities.ViewOfferActivity"
            android:label="View Request" />
        <activity
            android:name=".deprecated.ReviewOfferActivity"
            android:label="@string/title_activity_review_offer" />
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".activities.RequestCompleteActivity"
            android:label="Request In Progress" />
        <activity android:name=".deprecated.TestingActivity" />
        <activity android:name=".deprecated.LoginActivity" />
        <activity android:name=".activities.ChooseLocationActivity"></activity>
    </application>

</manifest>
